
/**ELEMENTOS PARA INGRESAR COMENTARIOS**/

#titulo {
    text-align: center;
}

.font{
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
}
.font2{
    font-size: 80%;
    font-family: "Times New Roman", Times, serif;
}
.btn{
    background-color: rgb(238, 235, 235);
    font-size: 97%;
}

.btn:hover{
    background-color: rgb(218, 214, 214);
}

.comentario-nuevo{
    width: 45%; 
}
.btn:disabled:hover{
   background-color: rgb(238, 235, 235);
}

.lista {
    text-align: center;
}

.table{
    width: auto;
}
.btn-s{
    display:flex; 
    float:right; 
    border:transparent; 
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    outline: none;
}

.alert-success {
    display:none;
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin-top: 10px;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 45%;
    text-decoration: none;
    text-decoration-line: none;
}

.envioExitoso {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
}


.btn-exit{
    color: white; 
    border:transparent; 
    background-color: red;
    outline: none;
}


.cabecera{
    display: flex;
    justify-content: space-between;
}

.radiobutton{
    width: min-content;
    align-self: center;
}

mat-radio-button {
    margin-top: 14px;
}

div#opciones-extras {
    display: grid;
}

mat-card.mat-card {
    padding: 5% 7%;
}

.comentario {
    margin-top: 15%;
    width: 100% !important;
}

textarea.mat-input-element {
    padding: 2px 0;
    margin: -5px 0;
}

#Comentar{
    outline: none;
}

#Comentar:enabled{
    color: white;
    background: rgb(255, 60, 0);
}

/**ELEMENTOS DE LAS TABLAS - TABS**/
thead {
    background: #f44336;
    color: white;
    border:transparent;
    font-weight: bold;
    font-family: "Trebuchet MS", Verdana, ui-sans-serif;
}


.btnb{
    margin-left: 1rem;
    background-color: #ffbe00;
    color: white;
}
.btns-eb{
text-align: center;
white-space: nowrap;
}

.btn-pagado{
    color: white; 
    border:transparent; 
    background-color: rgb(0 142 0);;
    outline: none;
}

.btn-pagado:active{
    background-color: rgb(36, 128, 36);
}

.btn-editar{
    color: white; 
    border:transparent; 
    background-color: black;
    outline: none;
}

.btn-editar:active{
    background-color: rgb(56, 56, 56);

}
.subcabecera{
    margin-top: 2%;
    margin-bottom: 3%;
}

.btns-eb button.mat-raised-button {
    margin: 2px 2px;
}

#buscador {
    overflow: visible;
    OUTLINE: none;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-bottom: 0.1px solid #8f8e8e;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.btnb:hover{
background-color: #ffdb6e;
}

.table {
    width:100%;
}

.btn-list {
    border-radius: 50%;
    background: white;
    cursor: initial;
    outline: none;    
    border:none;
}

.btn-list:disabled {
    cursor: initial;
}

.btn-list:disabled svg{
    fill:#ffe79e;
    cursor:initial;

}
.btn-list svg{
    cursor: pointer;
    fill:#ffc300;
}

#Nohay{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 80%;
}

.fila1{
    background: #FFF0BF;
}

.fila3{
    background: #FFF0BF;
}

.tab {
    height: 601px;
}

.tab tbody td {
    height: 100px;
}

.tab tbody td textarea {
    border:none; 
    resize: none;
    background: none; 
    outline: none; 
    height: inherit;
}

@media screen and (max-width: 930px) {
    .cabecera{
        display: initial;
        justify-content: space-around;
    }
    .radiobutton {
        width: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }
    .comentario-nuevo{
        width: auto;
    }
    .comentario{
        margin-top: auto;
    }
    mat-radio-button {
        margin-right: 2%;
    }
}

@media screen and (max-width: 930px) {
 .btnb{
     width: 60px;
     font-size: smaller;
     text-align: center;
 }
}

