textarea{
    width: 100%;
    height: 100%;
}
#titulo {
    text-align: center;
}

.font{
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
}
.font2{
    font-size: 80%;
    font-family: "Times New Roman", Times, serif;
}
.btn{
    background-color: rgb(238, 235, 235);
    font-size: 97%;
}

.btn:hover{
    background-color: rgb(218, 214, 214);
}

.comentario-nuevo{
    width: 45%; 
}
.btn:disabled:hover{
   background-color: rgb(238, 235, 235);
}

.lista {
    text-align: center;
}

.btn-editar{
    color: white; 
    border:transparent; 
    background-color: black;
}
.btn-s{
    display:flex; 
    float:right; 
    border:transparent; 
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.btn-editar:active{
    background-color: #1472d6;

}

.btn-exit{
    color: white; 
    border:transparent; 
    background-color: red;
}

thead {
    background: #f44336;
    color: white;
    border:transparent;
    font-weight: bold;
    font-family: "Trebuchet MS", Verdana, ui-sans-serif;
}
.fila1{
    background: #FFF0BF;
}

.fila3{
    background: #FFF0BF;
}


/*Boton de atras*/
.btn-list{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.btn-outline-danger {
    color: #ffc300;
    border-color: transparent;
    padding: 0%;
}
.btn-outline-danger-x {
    color: #dc3545;
    border-color: #dc3545;
}
.bi-arrow-right-circle-fill::before {
    content: "";
}
.bi-x-circle-fill::before {
    content: "\f622";
}

/****/


#Nohay{
    margin-top: 5%;
    margin-left: 170%;
    display: flex;
    text-align: center;
}

.cabecera{
    display: flex;
    justify-content: space-between;
}

.radiobutton{
    width: min-content;
    align-self: center;
}


mat-radio-button {
    margin-top: 14px;
}

div#opciones-extras {
    display: grid;
}

mat-card.mat-card {
    padding: 5% 7%;
}

.comentario {
    margin-top: 15%;
    width: 100% !important;
}

textarea {
    background-color: rgb(254 254 254);
}
textarea.mat-input-element {
    padding: 2px 0;
    margin: -5px 0;
}
