
    <div class="container">
    <h2>Seccion de comentarios</h2>

    <div class="comentario-nuevo"> 
        <span class="font">Ingrese un comentario</span>
        <form name="confirmationForm" method="post">
            <textarea style = "resize: none;"class="text" rows="5" (keyup)="onKey($event)" maxlength="250" #texto></textarea>
            <div class= "font">{{contador}}/250</div><br>
           <input [disabled]="contador==0"type="submit" value="Registrar" (click)="actualizarComentarios(texto.value)" class="btn">
        </form>
    </div>
    <hr>
  

    <div class="otros-comentarios">
        <span class="font">Comentarios:</span>
        <table class="table table-hover table-container" style="width: 100%;">
            <thead>
              <tr class="">
                <th scope="col">Usuario</th>
                <th scope="col">Comentario</th>
                <th scope="col">Fecha de publicacion</th>
                <th scope="col">Mas opciones</th>
              </tr>
            </thead>
            <ng-container *ngIf="comentarios.length ==0; else elseTemplate">
                <div id="Nohay">No hay comentarios</div>
            </ng-container>
            <ng-template #elseTemplate>
                <tbody *ngFor="let c of comentariosMostrar">
                    <tr>
                    <td>{{c.nombre}}<u class="nomb"></u></td>
                    <td style="text-align: justify;"><textarea readonly="yes" style="border:none; resize: none;
                        background: none; outline: none; height: 70px;">{{c.comentario}}</textarea></td>
                    <td>{{c.fecha}}</td>
                    <td>
                    <ng-container *ngIf="email != c.correo; else elseTemplate">
                        <ng-container *ngIf="nivel == 1; else elseTemplate">
                            <input type="submit" value="Editar" class="btnE btn-editar" (click)="editarComentario(c.comentario,c.idcomentario,c.clave_serv,c.fecha)">
                            <input type="submit" value="Borrar" class="btnE btn-exit" (click)="deleteComentario(c.idcomentario,c.clave_serv,c.fecha)">
                        </ng-container>
                        <ng-template #elseTemplate>
                            <div>No puedes editar</div>
                        </ng-template>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <input type="submit" value="Editar" class="btnE btn-editar" (click)="editarComentario(c.comentario,c.idcomentario,c.clave_serv,c.fecha)">
                        <input type="submit" value="Borrar" class="btnE btn-exit" (click)="deleteComentario(c.idcomentario,c.clave_serv,c.fecha)">
                    </ng-template>
                    </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
        </div>   
        <div class="row" *ngIf="comentarios.length > 0 " >
        <div class="col-md-12 text-center">
            <input type="submit" value="Anterior" class="btn" [disabled]="!btnPrev" (click)="previo()">
            <span style="margin-left: 10px; margin-right: 10px; ">{{actualPage}} de {{totalPages}}</span>
            <input type="submit" value="Siguiente" class="btn" [disabled]="!btnNext" (click)="siguiente()">
          </div>
        </div>
    <div>
        <button class="btn" mat-button mat-dialog-close="false">Cerrar</button>
    </div>
