<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src="./assets/Logotipo_blanco-01.svg" width="100px" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><img src="./assets/open-menu.svg" width="50px" height="40px"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/listaclientes']" href="#">Clientes</a>
      </li>
      
      <li class="nav-item dropdown" *ngIf="nivel == 1 || nivel==2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         
          <a [routerLink]="['/usuarios']" class="dropdown-item" href="#">Usuarios</a>
        </div>
    
      
    </ul>
    <form class="form-inline  my-lg-0">
      
        <a class="nav-link">{{usuario}}</a>
 
      <a [routerLink]="['/logout']" class="btn btn-warning" href="#"> Cerrar sesion <img src="./assets/logout.svg" width="10px" height="10px"> <span class="sr-only">(current)</span></a>
    </form>
  </div>
</nav>

