nav{
    background-image:url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg');
    font-family:'Roboto', sans-serif;
}

a{
    color: white;
    opacity: 1;
    transition: 0.3s;
}

a:hover{
    background-color:#7c3d3d;
    color: rgb(255, 255, 255);
}


.dropdown-item{
    color: black;
}

.dropdown-item:hover{
    background-color: blanchedalmond;
    color: black;
}

@media only screen and (max-width: 600px) {
    .hidden-small{
      display: none;
    }
  }