<app-navbar></app-navbar>
<div class="container" >
<div class="opciones-head">
  <div class="buscador">
  <form >
      <mat-form-field class="aqui" appearance="legacy" color="primary">
        <mat-label>Buscar clave</mat-label>
        <input matInput #escribir >
      </mat-form-field>
     <button mat-raised-button  class="btnb" (click)="filtrar(escribir.value)" >Buscar</button>
    </form>
    <div>
  </div>
  </div>
  
  <div class="selects row">
    <div class="ciudad">
      <mat-label  class="selectb">Buscar:&nbsp;</mat-label>

      <mat-form-field appearance="fill">
        <mat-label >Ciudad</mat-label>
        <mat-select  class="selecthead" (selectionChange)="verCiudad($event.value.ciudad)" >
          <mat-option [value]="-1">Todos</mat-option>
          <mat-option *ngFor="let nombre of ciudades" [value]="nombre">{{nombre.ciudad}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="estado">
     <mat-label class="selectb conector">Y...&nbsp;</mat-label>
      <mat-form-field  appearance="fill">
      <mat-label >Estado</mat-label>
        <mat-select class="selecthead" (selectionChange)="verEstado($event.value)" >
          <mat-option [value]="5">Todos</mat-option>
          <mat-option [value]="0">Nuevo</mat-option>
          <mat-option [value]="1">Si contestan</mat-option>
          <mat-option [value]="2">No sirve</mat-option>
          <mat-option [value]="3">Dejamos recado</mat-option>
          <mat-option [value]="4">Convenio</mat-option>
          <mat-option [value]="6">No contestan</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </div>
    <div class="cargar">
      <label class= "btn"> 
        Cargar Excel
      <input class="subir " (change)= "onFileChange($event)" style="display: none !important" type="file" multiple="false"
      />
      </label>
    </div> 
  
</div>

  
  
<div class="tabla">
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows 
       *ngIf="true"
    >
    <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of displayedColumns"
        matColumn 
      >
      <thead>
        <tr>
          <th  mat-header-cell *matHeaderCellDef style="border-bottom:1px solid gray;">{{ column }}</th>
        </tr>
      </thead>
        <td class = "a{{element['Estado']}} {{element['Clave']}}"  mat-cell *matCellDef="let element">
          <ng-container *ngIf="column == 'Celular 1' || column == 'Celular 2'; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
           <a (click)="CLICK($event)" href="tel:+52{{element[column]}}">{{ element[column] }}</a>
          </ng-template>
          <ng-template #elseTemplate>
            <ng-container *ngIf="column == 'Estado'; else elseTemplate">
             <select (click)="CLICK($event)" (change)="modificarEstado(element['Clave'], $event.target.value)" name="select" [value]="element[column]" class="selectTabla seleccionar">
                <option value="0" disabled hidden>Nuevo</option>
                <option class = "option1" value="1">Si contestan</option>
                <option class ="option3" value="3">Dejamos recado</option>
                <option class= "option5" value="5">No contestan</option>
                <option class = "option2" value="2">No sirve</option>
                <option class="option4" value="4">Convenio</option>
              </select>
            </ng-container>
            <ng-template #elseTemplate>
              <ng-container *ngIf="column == 'Estatus'; else elseTemplate">
                <label class="seleccionar" (click)="CLICK($event)">   <input class="estatusInput" [checked]="element[column] == 1" (change)="modificarEstatus(element['Clave'],$event.target.checked)"  type="checkbox">&nbsp;Activo</label>
              </ng-container>
              <ng-template #elseTemplate>
                {{ element[column]  }}
              </ng-template>
            </ng-template>
          </ng-template>
        </td>
      
      </ng-container>
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
          >
          <div
          *ngIf="element['info.dependent'] === 'parent'"
          >
            <div class="example-element-descriptions">

            <!--TITULO DE SUBLISTAS-->
                <div class="description">
                  <div class="description__header">
                    <div
                      class="description_cell"
                      *ngFor="let key of getKeys(element['nested'][0]); let id=index" 
                    >
                      {{ key  }}
                    </div>
                  </div>
                 
                  <!--CONTENIDO DE SUBLISTAS-->
                  <div>
                  <div *ngFor="let nested of element['nested']; let idx = index"
                    class="description__content">     
                  <div class="description_cell">
                  {{nested.Fecha }}
                  </div>
                  <div class="description_cell">
                  {{nested.Servicio}} 
                  </div>
                  <div class="description_cell">
                  {{nested.Saldo}}
                  </div>
                  <div class="description_cell">
                  {{nested.Intereses}}
                  </div> 
                  <div *ngIf="idx > 0">
                    <button class="btn-c" (click)="abrirComentario(element['Clave'],element.Clave
                    , nested.Fecha)">Comentar</button>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>

    <div id="existe">No se encontraron resultados... </div>
    <mat-paginator #paginator id= "barra-paginator" (page)="pageEvents($event)"  [pageSize]="10"></mat-paginator>
  </div>
<!--
<div class="tab-convenio">
    <table mat-table [dataSource]="dataSource2" >
       Position Column 
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
       Name Column 
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      Weight Column 
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Convenio </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <div id="existe-conv">No se encontraron resultados... </div>
    
    <mat-paginator  #paginator2 id= "barra-paginator" (page)="pageEvents2($event)"   [pageSize]="10"></mat-paginator>
  </div> 

</div>-->
<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->


