/*Lista no expandible*/
table {
  width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }

  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .description {
    padding: 16px;
    width: 100%;
  }
  
  .description__cell {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .description__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200%;
    padding-top: 8px;
    padding-bottom: 8px;

  }
  
  .description__content {
    display: flex;
    width: 200%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .description__content div,
  .description__header div {
    width: 10%;
   justify-content: space-between;

  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .description_cell{
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  mat-form-field,
  mat-label {
    color:black;
    font-size: 1rem;
  }
  mat-form-field, mat-label {
    color: black;
    font-size: 1rem;
}
.seleccionar{
  cursor:pointer;
}
 
/*Lista expandible*/
  #barra-paginator
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #77072D;
    border: 1px solid rgb(187, 187, 187);
    background-color: none;
    border-radius: 50% 50% 0 0;
  }

  .cdk-row:hover  {
    background: rgb(247, 244, 244) !important;
  
  }
  
.subir{
  display: flex;
  float:right;
  margin: 3% 2%;
}

.mat-header-cell {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: aliceblue;
  color:black;
  
}

.mat-button-focus-overlay{
  color: #0c82ff;
}


/*Mensaje cuando no hay clientes*/

 #existe{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
 }

/*select del estado*/
.selectTabla{
  font-size: 90%;
}
select{
  outline: none;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
}
/** Colores de las filas*/
.a1 {
background: #4aef4a80;
}
.a2{
background: #ff797999;
}
.a3{
  background: #2591ff42;
}
.a4{
  background: #ffff0059;
}
.a5{
  background: #ff910059;
}

.option1{
background: #4aef4a80;
}
.option2{
background: #ff797999;
}
.option3{
  background: #2591ff42;
}
.option4{
  background: #ffff0059;
}
.option5{
  background: #ff910059;
}

.option1:hover{
  display:none;
}
/*Botones de cabecera*/
.btnb{
  margin-left: 1rem;
  height: 60%;
  background-color: #0c82ff;
  font-size: 100%;
  color: white;
  font-weight: 400;
}
.btnb:hover{
  background-color: #066bd8;
}

.btn{
  font-size: 100%;
  background-color: #0c82ff;
  color: white;
  margin-top: 10%;
}
.btn:hover{
  background-color: #1167b8;
}

.cabecera{
  display: flex;
  flex: auto;
}

.procentaje{
  display: flex;
  flex-wrap: nowrap;
}

.opciones-head{
  display: flex; 
  margin-top:2%;
justify-content: space-between;}

.selects{
  width: 55%;
  text-align: center;
}

/* css de los mat-select*/
.mat-form-field.mat-primary.mat-form-field-type-mat-select {
  width: 60%;
}
mat-select{
  font-size: 95%;
}
.mat-option {
  margin-bottom: -3%;
}
.mat-option.mat-active {
  background: #00b9ff !important;
  color: white !important;
}

.mat-option:hover:not(.mat-option-disabled)
{
  background:#bbbbbb;color:white
}
/*
pinta tambien la linea donde escribe
::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  background-color: #00b2ff !important;
}*/
 

mat-label{
  font-size: 90%;
}

.ciudad, .mat-form-field.mat-primary.mat-form-field-type-mat-select {
  width: 50% ;
  margin-right: -17%;
}

.estado, .mat-form-field.mat-primary.mat-form-field-type-mat-select {
  width: 50% ;
  margin-right: -39%;
}

.selectb{
  margin-left: 4%;
}

.btn-c{
  background: #4553ff;
  font-size: smaller;
  outline: none;
  color: white;
}

.btn-c:hover{
  background: #363fa5;
}

.agregar{
  display: flex;
  float: right;
  margin-top: 15px;
  cursor:pointer;
}

.mat-paginator-range-label {
  margin: 0% !important;
  padding: 0%;
}

.mat-paginator-navigation-next {
  position: absolute !important;
  left: 55%;
}

.mat-paginator-navigation-previous {
  position: absolute !important;
  right: 55%;
}

/** Tabla convenios*/
 .tab-convenio{
   margin-top: 10%;
   width: 30%;
 }



@media screen and (max-width: 989px){
  table td{
    font-size: 60%;
  }

  #existe{
    font-size: 60%;
  }
  .opciones-head{
    font-size: 70%;
  }
  mat-form-field,mat-label {
    color:black;
    font-size: 100%;
    width: 70%;
  }

  .btnb {
    margin-left:1em;
  }
  .btn {
    margin: auto;
  }
  table th{
    font-size: 60%;
  }

  #barra-paginator{
    font-size: 70%;
    height: 1%;
  }
}

#existe-conv {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
@media screen and (max-width: 767px){
  mat-form-field {
    color:black;
    font-size: 100%;
    width: 50%;
  }
  .btnb{
    margin-left: 1em;
  }
  .selects {
    margin-left: 7%;
  }
  .ciudad, .mat-form-field.mat-primary.mat-form-field-type-mat-select {
    width: 60%;
    margin-right: -11%;
  }

  .ciudad {
    margin-left: -25%;
  }
  #existe{
    font-size: 60%;
  }
  .estado, .mat-form-field.mat-primary.mat-form-field-type-mat-select {
    width: 60%;
    margin-right: -10%;
  }
  #barra-paginator{
    font-size: 60% ;
  }
}

@media screen and (max-width: 393px){
  table td{
    font-size: 40%;
  }
  table th{
    font-size: 40%;
  }
  #existe{
    font-size: 40%;
  }
 
}

