/*LOADING DE INICIO*/ 
  #contenedor_carga{
    background-color: rgba(88, 88, 88, 60%);
    height: 100%;
    width:100%;
    position: fixed;
    -webkit-transition: all 1s none;
    -o-transition: all 1s none;
    transition: all 1s none;
    z-index:10000;
  }

  span{
  display:block;
  font-family:  monospace;
  white-space: nowrap;
  width: 13ch;
  animation: typing .5s steps(13) infinite;
  overflow: hidden;
  font-size: xx-large;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  
}

@keyframes typing {
  from {width: 0 }
}


.slider{
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  font-size: 1rem;
}
.slider ul{
    display: flex;
    animation: cambio 5s infinite alternate linear;
    width: 600%;
}
.slider li{
    width: 100%;
    list-style: none;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

    105%{margin-left: -400%;}
    130%{margin-left: -400%;}

    135%{margin-left: -500%;}
    160%{margin-left: -500%;}
}

  #carga {
    border:15px solid #ccc;
    border-top-color: #f42626;
    border-top-style:dashed;
    height:100px;
    width:100px;
    border-radius:100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;  
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
  }

  @keyframes girar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  
  
  /*Lista no expandible*/
table {
  width: 100%;
  }
    tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    overflow-x: auto;
  }
  
  .example-element-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .description {
    padding: 16px;
    width: 100%;
  }
  
  .description__cell {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .description__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200%;
    padding-top: 8px;
    padding-bottom: 8px;

  }
  
  .description__content {
    display: flex;
    width: 200%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .description__content div,
  .description__header div {
    width: 10%;
   justify-content: space-between;

  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .description_cell{
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
  }
  mat-form-field,
  mat-label {
    color:black;
    font-size: 1rem;
  }
  mat-form-field, mat-label {
    color: black;
    font-size: 1rem;
}
.seleccionar{
  cursor:pointer;
}


 
/*Lista expandible*/
  mat-paginator
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #77072D;
    border: 1px solid rgb(187, 187, 187);
    background-color: none;
    border-radius: 10px 10px 0 0;
  }

  .cdk-row:hover  {
    background: rgb(247, 244, 244) !important;
  
  }
  
.subir{
  display: flex;
  float:right;
  margin: 3% 2%;
}

.mat-header-cell {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: aliceblue;
  color:black;
  
}

.mat-button-focus-overlay{
  color: #0c82ff;
}


/*Botones de la tabla angular  material*/

/*Mensaje cuando no hay clientes*/

 .existe{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
 }

/*select del estado*/
.selectTabla{
  font-size: 90%;
}
select{
  outline: none;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
}
/** Colores de las filas tabla clientes*/
.▼1 {
background: #4aef4a80;
}
.▼2{
background: #ff797999;
}
.▼3{
  background: #2591ff42;
}
.▼4{
  background: #ffff0059;
}
.▼5{
  background: #ff910059;
}


.option1:hover{
  display:none;
}
/*Botones de cabecera*/
.btnb{
  margin-left: 1rem;
  height: 60%;
  background-color: #0c82ff;
  font-size: 100%;
  color: white;
  font-weight: 400;
}
.btnb:hover{
  background-color: #066bd8;
}

.btn{
  font-size: 100%;
  background-color: #0c82ff;
  color: white;
  margin-top: 10%;
  box-shadow: 1px 2px 2px #ccc;
  border: none;
}
.btn:hover{
  background-color: #1167b8;
}

.cabecera{
  display: flex;
  flex: auto;
}

.procentaje{
  display: flex;
  flex-wrap: nowrap;
}

.opciones-head{
  display: flex; 
  margin-top:2%;
justify-content: space-between;}

.selects{
  width: 55%;
  text-align: center;
}

/* css de los mat-select*/
.mat-form-field.mat-primary.mat-form-field-type-mat-select {
  width: 60%;
}
mat-select{
  font-size: 95%;
}
.mat-option {
  margin-bottom: -3%;
}
.mat-option.mat-active {
  background: #00b9ff !important;
  color: white !important;
}

.mat-option:hover:not(.mat-option-disabled)
{
  background:#bbbbbb;color:white
}
/*
pinta tambien la linea donde escribe
::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  background-color: #00b2ff !important;
}*/
 

mat-label{
  font-size: 90%;
}

.ciudad, .mat-form-field.mat-primary.mat-form-field-type-mat-select {
  width: 50% ;
  margin-right: -17%;
}

.estado, .mat-form-field.mat-primary.mat-form-field-type-mat-select {
  width: 50% ;
  margin-right: -39%;
}

.selectb{
  margin-left: 4%;
}

.buscador-vigencia .mat-form-field.mat-primary.mat-form-field-type-mat-select {
  width: 80%;
}


.agregar{
  display: flex;
  float: right;
  margin-top: 15px;
  cursor:pointer;
}

.mat-paginator-range-label {
  margin: 0% !important;
  padding: 0%;
}

.mat-paginator-navigation-next {
  position: absolute !important;
  left: 55%;
}

.mat-paginator-navigation-previous {
  position: absolute !important;
  right: 55%;
}

/** Tabla convenios*/

.recargar {
  margin: auto;
  background: #0c82ff;
  color: white;
  border-radius: 50px;
  border: transparent;
  outline: none;
  box-shadow: 1px 2px 2px #ccc;
  font: menu;
}

.recargar:active{
  background: #004997;
}

.color {
  display: none;
}
.amarillo{
  background: rgba(255 255 0 / 35%);
}
.rojo {
 background: #ff797999;
}
.blanco{
 background: white;
}

 .tab-convenio{
   margin-top: 10%;
 }

 .subtabla{
  width : 200%;
  text-align: center;
 }
 .tr-subtabla {
  border-bottom: 0.5px dashed black;
}

.btn-c{
  padding: 7%;
  background: #4553ff;
  font-size: smaller;
  outline: none;
  border: 1px solid black;
  color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 2px #ccc;
  border: none;
}

.btn-c:hover{
  background: #363fa5;
}

/*Loading para tabla*/
.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #0c82ff ;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor:wait;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 989px){
  .tabla table td{
    font-size: 60%;
  }

  .existe{
    font-size: 60%;
  }
  .opciones-head{
    font-size: 70%;
  }
  mat-form-field,mat-label {
    color:black;
    font-size: 100%;
    width: 70%;
  }

  .btnb {
    margin-left:1em;
  }
  .btn {
    margin: auto;
  }
  .tabla table th{
    font-size: 60%;
  }
}

@media screen and (max-width: 770px){
  mat-form-field {
    color:black;
    font-size: 100%;
    width: 50%;
  }
  .btnb{
    margin-left: 1em;
  }
  .selects {
    margin-left: 7%;
  }
  .ciudad, .mat-form-field.mat-primary.mat-form-field-type-mat-select {
    width: 60%;
    margin-right: -11%;
  }

  .ciudad {
    margin-left: -25%;
  }
  .existe{
    font-size: 60%;
  }
  .estado, .mat-form-field.mat-primary.mat-form-field-type-mat-select {
    width: 60%;
    margin-right: -10%;
  }
}

@media screen and (max-width: 393px){
  .tabla table td{
    font-size: 40%;
  }
  .tabla table th{
    font-size: 40%;
  }
  .existe{
    font-size: 40%;
  }
 
}

