<div class="container" style="background-color:#DCDCDC; border-radius: 4px 4px 0px 0px; padding: 5px;">
    <h3 style="padding: 3px;"><strong>Orden</strong> de servicio <img src="./assets/assignment-24px.svg"></h3>
</div>
<div class="container" style="background-color:white; border-radius: 0px 0px 4px 4px; padding: 20px;margin-bottom: 2%;">
    <form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 ">
                <label for="clienteId" class="col-form-label">Cliente</label>
                <input class="form-control" id="clienteId" placeholder="cliente">
            </div>
            <div class="col-md-6">
                <label for="sucursalId" class="col-form-label">Sucursal</label>
                <input class="form-control" id="sucursalId" placeholder="Sucursal">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="contacto" class="col-form-label">Contacto</label>
                <input class="form-control" id="clienteId" placeholder="Contacto">
            </div>
            <div class="col-md-6">
                <label for="telefono" class="col-form-label">Telefono</label>
                <input class="form-control" id="telefono" placeholder="Telefono">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="descserv" class="col-form-label">Servicio</label>
                <input class="form-control" id="descserv" placeholder="Servicio">
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="col-form-label">Descripción</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            </div>

        </div>
        
        <button style="margin-right:5px;" class="btn btn-success">Aceptar</button>
        
        <button class="btn btn-danger">Cancelar</button>
    </div>
    
    </form>
</div>