<div class="login-panel">
    <div class="col-md-8 col-xs-12 login-container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
    <div class="form-group text-center">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <img src="./assets/Logotipo_color-01.svg" width="200px" height="150">
            </div>
        </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <input name="email" [(ngModel)]="usuario.email" type="text" class="form-control" placeholder="Usuario" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <input name="password" [(ngModel)]="usuario.password" type="password" class="form-control login-row" placeholder="Password" required>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8"  style="margin: auto;">
                    <button  type="submit" class="btn btn-primary">Iniciar sesion</button>
                    <!-- <input type="submit" class="btn btn-primary"> -->
                </div>
            </div>
            <br>
            <span *ngIf="f.submitted && f.controls['email'].errors" 
             class="text-danger" >{{error.descripcion}}</span>

             <span *ngIf="sesion.error" 
             class="text-danger" >{{sesion.descripcion}}</span>
    </div>
</form>
</div>
</div> 