body{
    display: flex;
    flex-wrap: wrap;
    background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg');   
}

.login-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    width: 70%;
    margin:auto;
    font-family:'Roboto', sans-serif;
}

@media only screen and (max-width: 1200px){
    .login-panel{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 90%;
        height: 80%;
        margin:auto;
    }
}

@media only screen and (max-width: 813px) and (orientation: landscape) { 
    .login-panel{
        display:block;
        align-items: center;
        justify-content: center;
        max-height: 50%;
        width: 80%;
        margin:auto;
        font-family:'Roboto', sans-serif;
    }

    .login-panel img{
        height: 120;
        width:100px;
        padding-top: .5em;
    }

    .login-panel button{
         margin-bottom: 1em;
    }
    
}

.login-container{
    border-radius: 8px;
    background-color:rgb(255, 255, 255);
    
}

.content-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh;
    margin: auto;
    border-radius: 10px;
    background-color:white;
}

input{
    border-top: none;
    border-right: none;
    border-left: none;
}

input:hover{
    background-color: rgb(240, 240, 240);
}

