<app-navbar></app-navbar>

<div class="container title-container">
  <div class="row">
    <div class="col-md-10 title-container-movil">
      <h3>{{titulo}}</h3>
    </div>
    <div class="col-md-2 title-container-movil">
      <button type="button" class="btn btn-success" (click)="alta()">Agregar</button>
    </div>
  </div>
</div>
<div class="container">
  <table class="table table-hover table-container">
    <thead>
      <tr class="">
        <th scope="col">Clave</th>
        <th scope="col">Tipo</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody *ngFor="let u of tipos">
      <tr>
        <td>{{u.cve_tipo}}<u class="nomb"></u></td>
        <td>{{u.descripcion }}</td>
        <td><button style="margin-right: 5px;" class="btn btn-danger" (click)="borrar(u.cve_tipo)"><img
              src="/assets/delete-24px.svg" alt=""></button></td>
      </tr>
    </tbody>
  </table>
  <div class="container text-center">
    <span class="text-danger" *ngIf="tipos.length == 0 " >Sin resultados</span>
  </div>
</div>
