<div class="container" style="background-color:white; border-radius: 0px 0px 4px 4px; padding: 20px;margin-bottom: 2%;">
    <div class="row">
        <div class="col-md-3 ">
            <label for="inputCliente" class="col-form-label">Cliente: </label>
            <input name="cliente" type="text" [(ngModel)]="cliente"
                class="form-control" id="inputCliente" disabled>
        </div>

        <div class="col-md-3 ">
            <label for="inputSucursal" class="col-form-label">Sucursal: </label>
            <input name="sucursal" type="text" [(ngModel)]="sucursal"
                class="form-control" id="inputSucursal" disabled>
        </div>

        <div class="col-md-3 ">
            <label for="idcontacto" class="col-form-label">contacto: </label>
            <input name="contacto" type="text" [(ngModel)]="contacto"
                class="form-control" id="idcontacto" disabled>
        </div>

        <div class="col-md-3 ">
            <label for="telefono" class="col-form-label">telefono: </label>
            <input name="telefono" type="text" [(ngModel)]="numero"
                class="form-control" id="telefono" disabled>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <label for="servicio" class="col-form-label">Servicio: </label>
            <input name="servicio" type="text" [(ngModel)]="servicio"
                class="form-control" id="servicio" disabled>
        </div>

        <div class="col-md-3 ">
            <label for="instalador" class="col-form-label">Instalador:</label>
            <select class="form-control" id="instalador" name="instalador" [(ngModel)]="instalador">
            <option *ngFor="let i of instaladores" value="{{i.cve_usuario}}">{{i.nombre}}</option>
            </select>
        </div>



        
    </div>



</div>