<!-- Side navigation -->
<div class="sidenav">
  <img src="./assets/Logotipo_color-01.svg" width="180px" height="100">

  <a type="button" >Levantamientos </a> 

  <a type="button" >Ordenes de servicio </a> 

  <a type="button"  data-toggle="collapse" data-target="#CatalogosOpciones">Catalogos </a> 
    <div id="CatalogosOpciones" class="collapse">
        <a type="button" class="hijo"> Usuarios</a>
        <a type="button" class="hijo"> Clientes</a>
        <a type="button" class="hijo"> Actividad</a>
    </div>

  <a type="button" data-toggle="collapse" data-target="#reporteOpciones">Reportes </a> 
    <div id="reporteOpciones" class="collapse">
        <a type="button" class="hijo">Buscar orden</a>
        <a type="button" class="hijo">Reporte de ordenes</a>
        <a type="button" class="hijo">Reporte de levantamientos</a>
        <a tupe="button" class="hijo">Reporte de instaladores</a>
    </div>


</div>

