.table-container{
    border-radius: 8px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 15px;
    box-shadow: gainsboro 2px 2px;
}

.title-container{
    padding: 15px; width: 100%; 
    margin-bottom: 10px;
}

