.table-container{
    border-radius: 8px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 15px;
}

.max-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    margin:auto;
}