<app-navbar></app-navbar>

<div class="container title-container">
<div class="row">
    <div class="col-md-10 title-container-movil">
        <h3>Lista de usuarios</h3>
    </div>
    <div  class="col-md-2 title-container-movil">
      <a [routerLink]="['/usuarios/abcUsuario']" class="btn btn-success">Agregar</a>
    </div>
</div>
</div>

<div class="container">
    <table class="table table-hover table-container">
        <thead>
          <tr class="">
            <th scope="col" >Nombre</th>
            <th scope="col" >Rol</th>
            <th scope="col" >Correo</th>
            <th scope="col" >Opciones</th>
          </tr>
        </thead>
        <tbody *ngFor="let u of usuarios">
            <tr>

              <td>{{u.nombre}}<u class="nomb"></u></td>
              <td>
                <p *ngIf="u.nivel==1">Administrador</p>
                <p *ngIf="u.nivel==2">Usuario</p>
                <p *ngIf="u.nivel==3">Usuario</p>
                <p *ngIf="u.nivel==4">Usuario</p>
                <p *ngIf="u.nivel==5">Usuario</p>

            </td>
              <td>{{u.email }}</td>
              <td >
                <button class="btn " [routerLink]="['/usuarios/abcUsuario', u.cve_usuario]" style="margin-right: 5px;"><img src="/assets/editar.png" alt=""></button>
                <button class="btn "  (click)="borrar(u.cve_usuario, u.email)"><img src="/assets/delete.svg" style="width: 24px; height: 24px;"></button>
            </td>
            </tr>
          </tbody>
      </table>
      <div class="container text-center">
        <span class="text-danger" *ngIf="usuarios.length == 0 " >Sin resultados</span>
      </div>

</div>

