/* You can add global styles to this file, and also import other style files */
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body {
  height: 100%;
}

body {
  background: rgb(241, 241, 241);
}

.table-container {
  border-radius: 8px;
  background-color: white;
  margin-bottom: 15px;
}

.max-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  margin: auto;
}

.roboto-font{
  font-family: 'Roboto', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


div.flatpickr-calendar{
  display: none;
  overflow: hidden;
}

.container {
  margin-top: 1%;
}
.mat-form-field-ripple {
  background-color: #00b2ff;
}

/*css del calendario*/
button.mat-focus-indicator.mat-icon-button.mat-button-base{
  outline: none !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

/*Modificacion del mat-paginator*/

.mat-paginator-range-label {
  margin: 0 !important;
}

.mat-paginator-outer-container {
  margin-left: 80px;
}

button.mat-focus-indicator.mat-tooltip-trigger.mat-paginator-navigation-previous {
  right: 90%;
}
  
button.mat-focus-indicator.mat-tooltip-trigger.mat-paginator-navigation-next {
  right: 10%;
}


@media only screen  and (max-width: 1200px){
  .mat-tab-body-content {
    overflow-x: scroll !important;
  }
  
}