<app-navbar></app-navbar>

<div class="container title-container">
  <div class="row">
    <div class="col-sm-10 title-container-movil">
      <h3>{{titulo}}</h3>
    </div>
    <div class="col-sm-2 title-container-movil">
      <button type="button" class="btn btn-success" (click)="alta()">Agregar</button>
    </div>
  </div>
</div>
<div class="container">
  <table class="table table-hover  table-container">
    <thead>
      <tr class="">
        <th scope="col">Clave</th>
        <th scope="col">Actividad</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody *ngFor="let a of actividades">
      <tr>
        <td>{{a.cve_actividad}}<u class="nomb"></u></td>
        <td>{{a.descripcion }}</td>
        <td><button style="margin-right: 5px;" class="btn btn-danger" (click)="borrar(a.cve_actividad)"><img
              src="/assets/delete-24px.svg" alt=""></button></td>
      </tr>
    </tbody>
  </table>
  <div class="container text-center">
    <span class="text-danger" *ngIf="actividades.length <= 0" >Sin resultados</span>
  </div>
</div>
